body{
  margin: 0;
  background-color:white;
  font-family: 'Poppins', 'sans-serif';
  /* background-color: #a49e9e; */
}

.nav-bar{
  display: flex;
  padding: 10px;
  box-shadow: 0 0 1px 1px #a49e9e;
}

.airbnb-logo{
  height: 45px;
}

.photo-grid{
  max-height: 240px;
  max-width: 400px;
  margin-top: 60px;
  align-self: center;
}

.hero-section-container{
  display: flex;
  flex-direction: column;
}

.hero-header{
  margin-bottom: 0px;
  padding: 10px;
}

.hero-description{
  margin-top: 0px;
  max-width: 380px;
  word-wrap: break-word;
  padding: 10px;
}

.card-container{
  display: flex;
  flex-direction: column;
  max-width: 200px;
  padding: 10px;
}

.card-stats,
.card-title,
.card-price{
  font-size: 12px;
  padding: 2px;
  margin: 0;
}

.star-logo{
  max-width: 14px;
}

.stats-container{
  display: flex;
  align-items: center;
  color: #918E9B;
}

.price{
  font-weight: bold;
}

.card-image{
  border-radius: 9px;
}

.rating{
  color: black;
}



