body{
  margin: 0;
  background-color:white;
  font-family: 'Poppins', 'sans-serif';
  /* background-color: burlywood; */
}

.nav-bar{
  display: flex;
  padding: 10px;
  box-shadow: 0 0 1px 1px #a49e9e;
}

.airbnb-logo{
  height: 45px;
}

.photo-grid{
  max-height: 240px;
  max-width: 400px;
  margin-top: 60px;
  align-self: center;
}

.hero-section-container{
  display: flex;
  flex-direction: column;
}

.hero-header{
  margin-bottom: 0px;
  padding: 10px;
}

.hero-description{
  margin-top: 0px;
  max-width: 380px;
  word-wrap: break-word;
  padding: 10px;
}

.card-container{
  display: flex;
  flex-direction: column;
  max-width: 200px;
  padding: 10px;
}

.card-stats,
.card-title,
.card-price{
  font-size: 12px;
  padding: 1px;
  margin: 0;
}

.star-logo{
  max-width: 14px;
}

.stats-container{
  display: flex;
  align-items: center;
  color: #918E9B;
}

.price{
  font-weight: bold;
}

.card-image{
  border-radius: 9px;
}

.rating{
  color: black;
}



/*
Cat stuff!
*/
.contacts {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  gap: 40px;
  margin: 10px;
}

.contact-card {
  flex-basis: 225px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 13px;
  padding-bottom: 20px;
  background-color: white;
}

.contact-card > img {
  max-width: 225px;
  max-height: 155px;
  height: auto;
  align-self: center;
  border-radius: 5px;
  object-fit: cover;
}

.contact-card > h3 {
  font-weight: 700;
  font-size: 18px;
}

.info-group {
  display: flex;
  align-items: center;
}

.info-group > img {
  height: 11px;
  margin-right: 8px;
}

.info-group > p {
  margin-block: 3px;
  font-size: 12px;
  color: #2B283A;
}

.contact-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* border: 2px solid black;
  min-height: 90vh; */
}

